main{
  font-family: 'KoHo', sans-serif;
}

#headerContainer{
    text-align: center;
    padding-top: 29px;
}

h1{
    text-decoration: underline;
}

h3{
    text-align: center;
}

#anotherWrapper{
    display: flex;
    flex-direction: column;
}

#mainContainer{
        display: flex;
}

#resultWrapper{
    text-align: center;
    font-size: xx-large;
    text-decoration: wavy;
}

#result{
    text-align: center;
    font-size: x-large;
}


#scoreContainer{
    display: flex;
    width: 100%;
    margin: 10px 0 0 0;
    float: right;
}

.scores{
    text-align: center;
    flex-grow: 1;
    color: #311AE5;
    background-color: #CEE51A;
    border-radius: 10px; 
    height: 100px;
    padding-top: 49px;
    margin: 2px;
    font-size: large;
}

.scores:hover{
    color: #CEE51A;
    background-color: #311AE5;
    border-radius: 5px;
}


#playerButtonContainer{
    display:flex;
   flex-direction: column;
   width: 50%;
}

#computerButtonContainer{
    display:flex;
   flex-direction: column;
   width: 50%;
}


.playerGameButtons{
     border-radius: 10px;    
    flex-grow: 1;
    text-align: center;
    background-color: #5964A6;
    color: #FFFDD0;
    height: 2em;
    border: solid;
    margin: 2px;
    border-width: thin;
    font-size:large;
    padding-top: 2%;
}

.computerGameButtons{
    border-radius: 10px;    
   flex-grow: 1;
   text-align: center;
   background-color: #FFFDD0;
   color: #5964A6;;
   height: 2em;
   border: solid;
   margin: 2px;
   border-width: thin;
   font-size:large;
   padding-top: 2%;
}
.playerGameButtons:active{
    color: #5964A6;
    background-color: #FFFDD0;;
    border-radius: 9px;
}